.adds {
    background-color:aquamarine
}

.add {
    background-color:teal
}

.subs {
    background-color:purple
}

.sub {
    background-color:fuchsia
}

.and {
    background-color:red
}

.orr {
    background-color:orange
}

.eor {
    background-color:yellow
}

.ands {
    background-color:olive
}

.lsl {
    background-color:lightpink
}

.lsr {
    background-color:lime
}

.asr {
    background-color:gray
}

.ror {
    background-color:silver
}

.ldr {
    background-color:navy
}

.str {
    background-color:maroon
}

.b {
    background-color:lightcoral
}

.b.cond {
    background-color:darkgoldenrod
}

