div.main_wrapper{
    height:100vh;
    width:100vw;
}

div.right_panel{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
}
div.right_panel div.main{
    position:relative;
    height:50%;
}
div.right_panel div.v_seperater{
    height:10px;
    left:0px;
}
div.right_panel div.h_seperater{
    width:20px;
    height:100%;
}
div.right_panel div.cycle_wrapper{
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
    margin: 15px 0 0 25px;
    box-sizing: border-box;
    height:90%;
}
div.right_panel div.cycle_object{
    display: flex;
    justify-content: center;
    text-align: center;
    height:20%;
}

div.right_panel div.cycle_object div.num{
    border:1px solid black;
    height:100%;
    width:5%;
}
div.right_panel div.cycle_object div.cycle{
    display:flex;
    align-items: center;
    justify-content: center;
    border:1px solid black;
    height:100%;
    width:19%;
}
div.right_panel div.circuit_image_holder{
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
div.right_panel img.circuit_image{
    padding:0;
    margin:2px;
    width:18%;
    height:auto;
    box-sizing: content-box;
}
img.circuit_image.highlight{
    border: 2px solid red;
}